.statistics {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.statList {
  list-style: none;
  
  display: flex;
  gap: 20px;
}

.item {
  width: 200px;
  height: 200px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  
  padding: 10px;

  font-size: 40px;
  font-weight: 700;
  color: aliceblue;

  border-radius: 10px;
  box-shadow: 14px 9px 22px 3px rgba(0,0,0,0.65);
}

.title {
  text-shadow: 7px 6px 7px rgba(0,0,0,0.82);
  
}
